#form-kontak input{
    border: none !important;
    border-bottom: 2px solid var(--coklat) !important;
    transition: margin-top 0.3s, opacity 0.3s;
}
#form-kontak input:focus,
#form-kontak input:active{
    outline: none;
    margin-top: 5%;
}
#form {
    gap: 10%;
}
#form-kontak {
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 8% auto;
    }
}
#kontak article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}
.banyak-lingkaran {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    .lingkaran-kecil {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: var(--coklat);
    }
}
.isi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    width: 70%;
}
#kontak .judul {
    width: 70%;
    h1 {
        text-transform: capitalize;
        color: var(--coklat);
    }
}
#kontak .hiasan {
    border-top-right-radius: 80px;
    background-color: var(--coklat);
    width:40%;
}
#kontak input[type='submit']{
    background-color: var(--coklat);
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;

}
.icons {
    width: 10%;
    align-items: center;
    div {
        position: relative;
        background: linear-gradient(to left, var(--coklat) 50%, transparent 50%);
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .backdrop {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        background-color: var(--nudexxlight);
        border-radius: 30px 0 0 30px;
        width:100%;
        height: fit-content;
    }  
    
}
.icons img {
    width: 50px;
    margin: 10%;
    transition: transform 0.3s, opacity 0.3s;
}
.icons img:hover {
    transform: scale(1.1);
}