book-container {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
book-item {
    width: 350px;
    margin: 20px;
}

book-item button {
    color: white !important;
}

book-item .card-body button {
    background-color: var(--coklat);
    border: none;
    transition: transform 0.3s, opacity 0.3s;
}
book-item .card-body button:hover {
    background-color: var(--coklat);
    transform: scale(1.1);
}

book-container > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}