@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url('buku-page/carousel.scss');
@import url('buku-page/header-book.scss');
@import url('buku-page/tools.scss');
@import url('others/icon-theme.scss');
@import url('beranda-page/beranda.scss');
@import url('kontak/kontak.scss');
@import url('others/nav.scss');
@import url('others/modal.scss');
@import url('others/responsif.scss');
@import url('others/darkmode.scss');
@import url('others/tablet.scss');
@import url('others/handphone.scss');

form#form-search-page {
    display: none !important;
}
:root {
    --coklat: #A7727D;
    --nude: #EDDBC7;
    --nudelight: #F8EAD8;
    --nudexxlight: #F9F5E7;
    --white: white;
    --black: black;
    --iconTheme: 40px;
}

body {
    font-family: 'Poppins', 'Montserrat',sans-serif;
    display: block;
    overflow-x: hidden;
}
body.scrolling {
    nav.sticky-top {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        background-color: white;
    }
}
.logo > img{
    width: 50px;
}
#search-button {
    display: flex;
    align-items: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30
}
.highlight {
    background-color: var(--coklat);
    color: white;
}
header {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5% 10%;
}
.head-img >img{
    width: 400px;
}
.flex-right, .flex-left {
    width: 500px;
    font-size: 20px;
}
.penulis {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-style: italic;
}
.nama {
    color: var(--coklat);
    font-size: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.sep {
    width: 100px;
    background-color: var(--nude);
    height: 5px;
    margin: 10px;
}

footer {
    border-top: var(--nudexxlight);
    color: var(--coklat);
    margin-top: 10%;
    img {
        height: 30px;
    }
}
aside {
    position: absolute;
    bottom: 0;
    right: 0;
}
footer p {
    font-style: italic;
    margin: auto 0;
    color: white
}
.footer-bottom {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    div img {
        height: 45px;
        align-items: center;
    }
}
.footer-top {
    background-color: var(--coklat);
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    div {
        display: inline-flex;
        gap: 20px;
        filter: brightness(2);
    }
}
.card img {
    height: 198.5px;
    width: 120px;
}
footer {
    bottom: 0;
    margin-bottom: 0
}

